<h1 style="text-align: center; padding-top:50px;">Development Schedule</h1>
<div class="row" style="background-color:#F5F6F0">
    <div class="col-md-12" style="padding: 10px 55px;">
        <ejs-gantt 
            id="GanttSample" 
            [dataSource]="data" 
            height="450px" 
            width="100%" 
            [taskFields]="taskfield">
        </ejs-gantt>
    </div>
    <div class="col-md-12" style="padding: 25px 55px 60px 55px; width: 100%;">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-info" style="width: 100%">See all required forms</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-info" style="width: 100%" (click)="openModal(template)">Send a reqired form</button>
            </div>
        </div>
    </div>

    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Requirement Form</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <!-- Title -->
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Enter title">
                </div>
                <!-- Purpose -->
                <div class="form-group">
                  <label>Purpose</label>
                  <input type="text" class="form-control" placeholder="Enter purpose">
                </div>
                <!-- Requirement -->
                <div class="form-group">
                  <label>Requirement</label>
                  <input type="text" class="form-control" placeholder="Enter your requirement">
                </div>
                <!-- Justification -->
                <div class="form-group">
                    <label>Justification</label>
                    <input type="text" class="form-control" placeholder="Enter the justification">
                  </div>
                <!-- Value -->
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label><u>Value</u></label>
                    </div>
                    <div class="form-group col-md-5">
                        <label>WAS-IS</label>
                    </div>
                    <div class="form-group col-md-5">
                        <label>TO-BE</label>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Working Day</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="Before">
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="After">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Frequency</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="Before">
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="After">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Judge Method</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="Before">
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="After">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Tracking Item</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="Before">
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="After">
                    </div>
                </div>

                <!-- UploadFile -->
                <div class="form-group">
                    <label>Detail</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Enter more detail, like how do you want to display in each page, the priority od each function..."></textarea>
                </div>
                <div class="form-group">
                    <label>Example file input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <!-- Submit -->
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
              
        </div>
      </ng-template>
<div>