
  <div class="row">
      <div class="col-md-12">
          <carousel [isAnimated]="true">
              <slide *ngFor="let images of announce_images">
                <img src="{{images}}" alt="first slide" style="display: block; width: 100%;">
              </slide>
          </carousel>
      </div>
  </div>

  <div class="row padding">
    <div class="col-md-4" *ngFor="let obj of intro_object" style="width:100%; text-align: center; cursor:pointer;">
      <div class="bi bi-bell bi-bell-c" [innerHTML]="obj.img" (click)="scrollToBlock(obj.scroll)"></div>
        <div class="card text-black mb-3" style="display: block; margin-left: auto; margin-right: auto; border: 0px;">
              <div class="card-body">  
                <h3 class="card-title">{{obj.title}}</h3>
                <p>{{obj.content}}</p>
              </div>
        </div>
    </div>
  </div>
