<!-- Toolbar -->
<div [ngClass]="(scroll > 10)? 'sticky':''" class="" id="globalHeader">
    <div class="logo sized dsk"><a href="*"><img src="./assets/image/logo@2x.png" alt="Autoplanning"></a></div>
    <div class="sticky-bar"></div>
    <div class="logo sized stk">
        <a href="*">
            <div class="logo-dot part" style="opacity: 1; transform: translate(0px, 0px);"><img src="./assets/image/logo@x1.svg"></div>
        </a>
    </div>
    <div class="toplinks">
        <ul class="top">
        <li routerLink="/" (click)="scrollToBlock('news_block')">Home</li>
        <li routerLink="/" (click)="scrollToBlock('web_block')">System</li>
        <li routerLink="/" (click)="scrollToBlock('schedule_block')">Schedule</li>
        <li routerLink="/admin">Admin</li>
        </ul>
    </div>
    <div class="cta-items"> <ul> <li class="cta"><a href="https://app.handwrytten.com/cards?login=true" target="_blank" class="cta-btn orange sm">Sign Up</a></li> </ul></div>
</div>