.web-background {
  text-align: left;
  height: 800px;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #041117;
}

.section-block {
  height: 500px;
  width: 100%;
  background-color: cadetblue;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

#container {
  width: 100%;
  height: 480px;
  margin: 1em auto;
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 310px;
  max-width: 100%;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.tape {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  top: -15px;
  width: 86px;
}

.tape-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 2;
  pointer-events: none;
}

.tape-wrap>div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.tape-wrap.full {
  height: 100%;
}

.tape-wrap .tape {
  margin: 0;
  transform: none;
}

.tape-wrap .tape[data-num="1"] {
  left: 0px;
}

.tape-wrap .tape[data-num="2"] {
  left: auto;
  right: 0px;
}

.tape-wrap .tape[data-num="3"] {
  left: 0px;
  top: auto;
  bottom: -15px;
}

.tape-wrap .tape[data-num="4"] {
  left: auto;
  right: 0px;
  top: auto;
  bottom: -15px;
}

#business-integration .learn-more .tape-wrap {
  z-index: 2;
}

.vs-data .tape-wrap {
  z-index: 2;
}

.tape-wrap {
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (max-width: 550px) {
  section p+p {
    margin-top: 15px;
  }
  .tape-wrap .tape[data-num="1"] {
    left: 50%;
    margin-left: -43px;
  }
  .tape-wrap .tape[data-num="2"], .tape-wrap .tape[data-num="3"], .tape-wrap .tape[data-num="4"] {
    display: none;
  }
}

#page-resources .blog-featured .tape[data-num="1"] {
  left: 50%;
  margin-left: -43px;
}

#page-resources .blog-featured .tape[data-num="2"] {
  display: none;
}

.scroll-block {
  scroll-margin: 200px;
}