<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-12">
              <img src="./assets/image/Admin_Background.png" style="width: 100%; height: 125px;">
    </div>
</div>

<blockquote class="blockquote text-center">
    <h1 class="display-3" style="height: max-content; width: 100%; padding: 50px 55px 30px 55px; font-family:fantasy;">Hi, Evelyn</h1>
    <h1 class="display-5" style="padding: 25px 55px;">What do you want to focus today? Choose it from below topics...</h1>
</blockquote>


<!-- <div class="row padding justify-content-md-center">
    <div class="container-fluid">
    <header class="col-md-12">Hi, Evelyn</header>
    <h4 class="col-md-12">What do you want to focus today? Choose it from below topics...</h4>
    </div>
</div> -->

<div class="row" style="padding: 25px 55px;">
    <div class="col-md-4" *ngFor="let obj of admin_object" style="width:100%; text-align: center; cursor:pointer;">
      <div class="bi bi-bell bi-bell-c" [innerHTML]="obj.img" routerLink="{{obj.link}}"></div>
      <!-- <h4 class="card-title"><a href="{{obj.linkL}}" style="color:#454545"><u>{{obj.titleL}}</u></a></h4> -->
        <div class="card text-black mb-3" style="display: block; margin-left: auto; margin-right: auto; border: 0px;">
              <div class="card-body" >  
                <h3 class="card-title" >{{obj.title}}</h3>
                <h6 class="card-text">{{obj.content}}</h6>
              </div>
        </div>
    </div>
  </div>